* {
    margin: 0;
    padding: 0;
    color: white;
}

input {
    color: rgb(10, 10, 10);
}

body {
    background-color: rgb(82, 82, 82);
}

.equation-container{
 /* border: solid 1px red; */
}


.day-1{
    display: inline;

    margin-right: 2px;
}

.sum-container {
    /* border: solid 1px red; */
    display: inline-block;
}