* {
    margin: 0;
    padding: 0;
    color: white;
}

input {
    color: rgb(10, 10, 10);
}

body {
    background-color: rgb(77, 77, 77);
}

.equation-container{
 /* border: solid 1px red; */
}


.day-1{
    display: inline;

    margin-right: 2px;
}

.sum-container {
    /* border: solid 1px red; */
    display: inline-block;
}

.months,
.month-option,
.day-option,
.year-option {
    color: black;
}